
 <h2>Hello <%= name %>.  I see your age is <%= age %> and live in <%=location %>.</h2>
<h2>Your 3 favorite numbers are <%= num1%>, <%= num2 %>, <%= num3 %>.</h2>
<h2>The sum of them is <%= sum_nums %>.<%= age_compare %></h2> 